<div class="hero p-10 min-h-full min-w-[100vw]">
    <div class="hero-content bg-base-200 p-10 rounded-xl flex-col">
        <h1 class="text-5xl font-bold text-start w-full">Contact {{contact.id}}</h1>
        <div class="flex gap-10 lg:flex-row-reverse flex-col">
            <div class="flex flex-col items-center gap-4">
                <img
                    src="{{getImageUrl()}}"
                    class="max-w-xs rounded-lg shadow-2xl" alt="user_photo"/>
                <span class="text-xl font-bold">{{contact.first_name}} {{contact.last_name}}</span>
            </div>

            <div class="w-96">
                <div class="grid grid-rows-4 gap-4 p-4">
                    <div class="flex items-center gap-4">
                        <img class="w-10 h-10" src="assets/images/telephone.jpg" alt="Tel">
                        <p>{{contact.phone}}</p>
                    </div>

                    <div class="flex items-center gap-4">
                        <img class="w-10 h-10" src="assets/images/mail.png" alt="Mail">
                        <p>{{contact.email}}</p>
                    </div>

                    <div class="flex items-center gap-4">
                        <img class="w-10 h-10" src="assets/images/birthday-cake.png" alt="Tel">
                        <p>{{convertDate(contact.date_of_birth)}}</p>
                    </div>

                    <div class="flex items-center gap-4">
                        <img class="w-10 h-10" src="assets/images/pin.png" alt="Tel">
                        <app-address-card [address]="contact.address"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
